@media (max-width:1400px) {
    .goods__container {
        justify-content: space-between;
        max-width: 750px;
        align-items: center;
        margin: auto;

    }

    .itdetails {
        padding-left: 8%;
        padding-right: 8%;
    }
}

@media (max-width:720px) {
    .itdetails {
        flex-direction: column;
    }

    .it__maximage {
        width: 100%;
        margin-right: 0px;
        justify-content: center;
    }

    .it__description{
        width: 100%;
    }

    .goods__container {
        flex-direction: column;
        margin: auto;
    }
}