.footer{
    padding: 40px 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(255,239,227);
    box-shadow: 0 5px 25px rgba(218, 54, 54, 0.5);
}

footer h4{
    font-size: 15px;
}

footer p{
    font-size: 14px;
    margin: 0 0 10px 0;
}

footer a{
    font-size: 14px;
    text-decoration: none;
    color: #465b52;
    margin-bottom: 10px;
}


footer .author{
    padding-top: 15px;
    width: 100%;
    text-align: center;
}